name: Build and publish package to PyPI

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Deployment target. Can be "pypi" or "testpypi"'
        default: 'pypi'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install wheel build

      - name: Build package
        run: python -m build

      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: files
          path: ./dist/
          if-no-files-found: error


  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download package
        uses: actions/download-artifact@v2
        with:
          name: files
          path: dist

      - name: Publish on PyPI
        if: github.event.inputs.target == 'pypi' && github.ref == 'refs/heads/develop'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          packages_dir: dist/

      - name: Publish on TestPyPI
        if: github.event.inputs.target == 'testpypi' && github.ref == 'refs/heads/develop'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TESTPYPI_TOKEN }}
          packages_dir: dist/
          repository_url: https://test.pypi.org/legacy/
